*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
*::selection{
    color: white;
    background-color: #000;
}
html,body{
    height: 100%;
    width: 100%;
}
#nav{
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 50px;
}
.nav-links a{
    font-family:  Tahoma, sans-serif;
text-decoration: none;
color: #7a8290;
}
.nav-links a h5{
    font-weight: 350;
}
#nav .ana{
    padding:2vw 0;
    width: 9vw;
}

#page1,#page2{
height: 90vh;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
padding: 2vw;
}
#page1 h1{
    font-family: futura;
    font-size: 10vw;
    line-height: 9vw;
}
#page1 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2vw;
    opacity: 0.8;
}
.container{
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5vw 5vw
}
.element{
    height:100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.element img{
    width: 100%;
    height:100%;
    object-fit: contain;
}
.element h3{
    font-size: 0.8vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}
.element h5{
    padding: 12px;
    font-size: 0.6vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}
