*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
*::selection{
    color: white;
    background-color: #000;
}
html,body{
    height: 100%;
    width: 100%;
}
#nav{
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 50px;
}
.nav-links a{
    font-family:  Tahoma, sans-serif;
text-decoration: none;
color: #7a8290;
}
.nav-links a h5{
    font-weight: 350;
}
#nav .ana{
    padding:2vw 0;
    width: 9vw;
}
#page1{
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding: 0 1vw;
    padding-top:5vw;
}

#page1 h1{
    font-family: futura;
    font-size: 15vw;
    text-transform: uppercase;
    line-height: 11.7vw;
    letter-spacing: -5px;
}
#video-container{
    height: 100vh;
    width: 100%;
    margin-top:2vw;
    
}
#video-container video{
 height:100%;
width: 100%;
object-fit: cover;
cursor:pointer;
}
#video-container #play{
    padding: 2vw 1.54vw;
    background-color: black;
    color: white;
    position: fixed;
    font-family: futura;
    border-radius: 50%;
    font-size: 1vw;
    opacity: 0;
    scale: 0;
    cursor:pointer;
}

#page2{
    min-height:100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2vw 1.2vw;
}
.headingcontent{
    padding-top: 2vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black ;
}
.headingcontent h3{
    padding: 0.4vw 1vw;
    font-size: 1vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    border: none;
    
}

#page2 .elem{
    height: 100%;
    width: 33%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2 .elem img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   scale: 1.1;
}
.details{
    display: flex;
    align-items:center;
    justify-content: space-between;
    position: absolute;
    height:40px;
    width: 250px;
    border-radius: 30px;
    z-index: 9;
    background-color: pink;
    padding: 0 8px;
    margin: 0 auto;
    opacity: 0.8;
}
.details a{
    color: black;
    font-weight: 300;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#page3{
    min-height: 130vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F7F7F7;
    flex-wrap: wrap;
    padding: 0 1vw;
}
#content{
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
padding: 1vw 2vw;
padding-bottom: 6vw;
}
#content h2{
    font-family: futura;
    font-size: 3.4vw;
    line-height: 4vw;
}
#content p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
    line-height: 1.5vw;
    opacity: 0.8;
    padding-right: 3.5vw;
}
#content p a{
   text-decoration: none; 
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: black;
   opacity: 0.7;
}
.child{
    height: 70vh;
    width: 33vw;
    margin: 1vw; 
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:4vw;
    gap: 10px;
}
#page3 a{
    text-decoration: none;
}
.child img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.child h5,h6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    opacity: 0.6;
}
@media (max-width:600px){
    #page1{
       min-height: 50vh;
        width: 100%;
        padding: 0 3vw;
        padding-top:17vw;
    }
    #page1 h1{
        font-size: 15vw;
        line-height: 12vw;
        letter-spacing: -5px;
    }
    #video-container{
        display: flex;
        align-items: center;
        justify-content:center;
        height: 25vh;
        margin-top:3vw;
        
}
#video-container #play{
    padding: 4.7vw 3.1vw;
    font-size: 3vw;
    opacity: 1;
    scale: 1;
    position: absolute;
}
#page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vw 1vw;
}
#page2 .elem{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin-bottom: 2vw;
}
}
