*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
*::selection{
    color: white;
    background-color: #000;
}
html,body{
    height: 100%;
    width: 100%;
}
#nav{
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 50px;
}
.nav-links a{
    font-family:  Tahoma, sans-serif;
text-decoration: none;
color: #242a35;
}
.nav-links a h5{
    font-weight: 350;
}
#nav .ana{
    padding:2vw 0;
    width: 9vw;
}
.page1{
min-height: 90vh;
width: 100%;
}
.productdets{
    height: 100%;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    margin: 0 auto;
}
.content{
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 0 2vw;
padding-bottom: 200px;
gap: 50px;
}

.content h1{
    font-size: 50px;
    font-family: futura;
    line-height: 45px;
}
.stockpanel{
    height: 2.4rem;
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    border-radius: 50px;
    color: white;
    padding: 0 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.stockpanel h2{
    font-size: 13px;
    font-weight: 800;
}
.stockpanel .amount{
display: flex;
align-items: center;
justify-content: space-between;
gap: 10px;
}
.stockpanel button{
    background-color: black;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
}
.imgcont{
    height: 100%;
    width: 600px
}
.imgcont img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.contentsmall{
    height: 100%;
    display: flex;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 330px;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.content2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    width: 250px;
    padding-right: 20px;
}

.content2 p{
    line-height: 25px;
    margin-bottom: 10px;
   font-weight: 200;
}
.content2 h6{
    font-size: 15px;
    font-weight: 300;
}
.page1 .footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px;
}
.footer .second{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}
.page2content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
#page2 h1{
    font-family: futura;
    font-size: 3vw;
    line-height: 45px;
    padding: 40px 20px;
}
.linkss{
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    justify-content: space-between;
    gap: 26px;
}
.linkss a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    opacity: 0.7;
    font-size: 13px;
}
.page2content .info{
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.info p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    opacity: 0.7;
}
.shampoodets{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.shampoodets .dets{
   display: flex;
   flex-direction: column;
   align-items: start;
   gap: 10px;
}
.dets p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
.dets button{
    background-color: transparent;
    border: 1px solid rgb(44, 42, 42);
    border-radius: 50px;
    font-size: 8px;
    padding: 5px 4px;
    cursor: pointer;
}
.dets button:hover{
    background-color: black;
    color: white;
    transition: all 0.3s;
}
.shampooimg{
    height: 100%;
    width: 30%;
}
.shampooimg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.page3{
height: 100vh;
width: 100%;
padding: 20px 30px;
}
.page3 h1{
    padding-top:20px;
    font-size: 50px;
    font-family: futura;
    text-transform: uppercase;
}
.otherproducts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.otherproducts .child{
width: 25%;
height: 100%;
}
.child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.child img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.child p{
    font-size:12px;
}
