*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
*::selection{
    color: white;
    background-color: #000;
}
html,body{
    height: 100%;
    width: 100%;
}
#nav{
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 50px;
}
.nav-links a{
    font-family:  Tahoma, sans-serif;
text-decoration: none;
color: #242a35;
}
.nav-links a h5{
    font-weight: 350;
}
#nav .ana{
    padding:2vw 0;
    width: 9vw;
}
#page1{
min-height: 80vh;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
padding: 2vw;
gap: 20vw;
}
#page1 h1{
    font-family: futura;
    font-size: 9vw;
    line-height: 9vw;
}
#page1 #elem2{
    height: 100%;
    width: 30%;
}
#page1 p{
    padding-bottom: 10vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    opacity: 0.8;
}
#page2{
    width: 100%;
    height: 90vh;
}
.container1{
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}
.child{
    height:100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.child img{
    width: 100%;
    height:100%;
    object-fit: contain;
}
.child h3{
    font-size: 0.8vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}
.child h5{
    padding: 12px;
    font-size: 0.6vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}

.page{
    width: 100%;
    height: 90vh;
}
.container{
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5vw 5vw
}
.element{
    height:100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.element img{
    width: 100%;
    height:100%;
    object-fit: contain;
}
.element h3{
    font-size: 0.8vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}
.element h5{
    padding: 12px;
    font-size: 0.6vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}